
## eureka
eureka.client.serviceUrl.defaultZone=

## server
spring.application.name=
server.port=

## Logging
logging.level.root=
logging.level.org.springframework.cloud.gateway.route.RouteDefinitionLocator=
logging.level.org.springframework.cloud.gateway=

## Client service route
spring.cloud.gateway.routes[0].id=
spring.cloud.gateway.routes[0].uri.=
spring.cloud.gateway.routes[0].predicates[0]=

## Account service route
## Card service route
## discovery server route
## discovery server static resources route

## zipkin
management.zipkin.tracing.endpoint=
management.tracing.sampling.probability=

## eureka
eureka.client.serviceUrl.defaultZone=