##eureka
eureka.instance.hostname=
eureka.client.register-with-eureka=
eureka.client.fetch-registry=
eureka.username=
eureka.password=

## zipkin
management.zipkin.tracing.endpoint=
management.tracing.sampling.probability=

##server
server.port=