## database
spring.datasource.url=
spring.datasource.username=
spring.datasource.password=
spring.jpa.database-platform=
spring.jpa.show-sql=

## eureka
eureka.client.serviceUrl.defaultZone=

## server
server.port=
spring.application.name=

## zipkin
management.zipkin.tracing.endpoint=
management.tracing.sampling.probability=