##database
spring.datasource.url=
spring.datasource.username=
spring.datasource.password=
spring.jpa.database-platform=
spring.jpa.show-sql=

##server
server.port=
eureka.client.serviceUrl.defaultZone=
spring.application.name=